{% extends "base_template.html" %}

{% block title %}
<title>{{post.title}}</title>
{% endblock title %}


{% block navigation %}

<ul class="posts">
	<li>Category:</li>
	{% for cat in categories %}
	<li><a href="{{ cat.get_absolute_url }}"> {{cat}} </a></li>
	{% endfor %}
	<li><a href="{% url 'add_post' %}"><b>Add Post</b></a></li>
</ul>

{% endblock navigation %}

{% block content %}

<h1>{{post.title}}</h1>
<p><img class="img-article-left" src="{{post.image.url}}"></p>
{{post.content|linebreaks}}

{% block comment %}
<div><h3>Comments:</h3></div>

<div class="comment">
{% for comment in post.comments.all %}
    <p class="comment-author">{{ comment }}: <b>{{comment.content}}</b></p>
    {% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
</div>

{% comment %} <div>
    <a href="{% url 'add_comment' %}"><button class="btn btn-warning">Add comment</button></a>
</div> {% endcomment %}

{% if user.is_authenticated %}

<div><b>Create comment</b></div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <button type="submit">Add</button>
</form>
{% else %}
<p><h3> To be able to comment on the post, you need to register.</h3></p>
{% endif %}
{% endblock comment %}

{% endblock %}