html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7a7979;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: transform .4s ease;
    margin-top: 20px;
}

.sidenav a:hover {
    color: #6d0606;
    transform: scale(1.05);
    list-style: none;
}

.sidenav ul .posts {
    margin-top: 20px;
    color: #f1f1f1;
    font-size: 20px;
}

main {
    margin-left: 20%;
    padding: 0px 10px;
}   

main .maincontent {
    width: 98%;
}

.sidenav img {
    width: 320px;
    float: left;
    position: relative;
    top: -15px;
    margin-left: 25px;
}

.sidenav h3 {
    margin-top: 220px;
    margin-left: 25px;
    color: #f1f1f1;
}


.dws-menu {
    width: 100%;
}   

ul.dws-ul {
    display: flex;
    padding: 1%;
    justify-content: right;
}

li.dws-li {
    list-style: none;
    padding: 10px;
}

li.dws-li a {
    color: black;
    text-decoration: none;
}

.list-pages ul {
    display: flex;
    padding: 1%;
    justify-content: center;
}

.list-pages li  {
    list-style: none;
    padding: 10px;
}

.features {
    float: left;
    text-align: center;
    width: 98%;
    margin-top: 20px;
}

.features p {
    text-align: justify;
    margin-left: 15px;
    margin-top: 20px;
}

.register {
    margin-top: 20px;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	width: auto;
	height: 150px;
    padding: 0.5%;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0.5%;
    float: left;
    width: 100%;
    margin-top: 10px;
}

ul.list-articles li {
	border-bottom: 2px solid rgb(141, 138, 138);

}

div.article-panel {
    background: rgb(209, 206, 206);
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

.comment p{
    background-color: #c7c2c2;
}

.form-input {
    width: 300px;
    font-size: 16px;
}



.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.news {
    float: left;
    text-align: center;
    width: 95%;
    margin-top: 20px;
}

.news a {
    text-decoration: none;
}

.news a p {
    margin-top: 20px;
    font-size: 25px;
}

